JWTSECRET=your_jwt_secret

OAUTH_CLIENT_ID=your_google_client_id
OAUTH_CLIENT_SECRET=your_google_client_secret

DATASOURCE_URL=jdbc:mariadb://mariadb:3306/AI_CUSTOMER_SUPPORT
DATASOURCE_USERNAME=root
DATASOURCE_PASSWORD=root1234

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

REDIS_HOST=redis
OLLAMA_BASE_URL=http://ollama:11434

CORS_ALLOWED_ORIGINS=http://localhost

#Notice the mariadb,redis,ollama are not localhost --- but docker service names ----